<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-XK3mLeHIrEbjNigEtFuJ_GpTsuimfzs</string>
	<key>GCM_SENDER_ID</key>
	<string>107186198982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mehentyApp</string>
	<key>PROJECT_ID</key>
	<string>mehenty-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mehenty-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107186198982:ios:0a65488d670d1b3c14bac7</string>
</dict>
</plist>